@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Here you can add, edit, delete and manage books and its providers.</p>

    <br />
    <h4>Choose what you want to do</h4>
    <br />
    <div class="row">
        <a asp-action="Index" asp-controller="Products" class="col-12 col-lg-6 link-card">
            <div class="card bg-primary">
                <span class="material-icons text-white">shopping_cart</span>
                <div class="p-2"></div>
                <h4 class="text-white">Manage products</h4>
            </div>
        </a>
        <a asp-action="Index" asp-controller="Providers" class="col-12 col-lg-6 link-card">
            <div class="card bg-info">
                <span class="material-icons text-white">assignment_ind</span>
                <div class="p-2"></div>
                <h4 class="text-white">Manage providers</h4>
            </div>
        </a>
    </div>
</div>