@model Book_Shop.Web.ViewModels.ProviderViewModel;

@{
    ViewData["Title"] = "Edit provider";
}

<h1>@ViewData["Title"]</h1>

<hr />

<form asp-action="Edit">

    <vc:Summary></vc:Summary>

    <input type="hidden" asp-for="Id" />

    <div class="form-row">
        <div class="form-group col-md-6">

            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

            <label asp-for="Document"></label>
            <input asp-for="Document" class="form-control" />
            <span asp-validation-for="Document" class="text-danger"></span>

        </div>

        <div class="form-group col-md-6">

            <label asp-for="ProviderKind"></label>
            <div>
                <input type="radio" value="1" asp-for="ProviderKind" checked="@(Model.ProviderKind == 1)" /> Individual Entity
                <input type="radio" value="2" asp-for="ProviderKind" checked="@(Model.ProviderKind == 2)" /> Legal Entity
            </div>
            <div>
                &nbsp;
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>