@model Book_Shop.Web.Models.ErrorViewModel
@{
    ViewData["Title"] = "An error occurred";
}
<div class="text-center">
    @{
        if (Model == null)
        {
            <div>
                <h2>Woww! An unknown error occurred!</h2>
            </div>
        }
        else
        {
            <h1>@Html.Raw(Model.Title)</h1>
            <h2 class="text-danger">@Html.Raw(Model.Message)</h2>
        }
    }
</div>
