@model Book_Shop.Web.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Edit " + Model.Name;
}

<div class="text-center p-3">
    <h1>@ViewData["Title"]</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-10">
        <form enctype="multipart/form-data" asp-action="Edit" id="EditProduct">
            <vc:Summary></vc:Summary>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea cols="40" rows="5" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Actual image</label><br />
                <img src="~/images/@Model.Image" alt="@Model.Image" style="width: 70px; height: 100px" />
            </div>
            <div class="form-group">
                <label asp-for="ImageUpload" class="control-label"></label>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ImageUpload" name="ImageUpload" />
                    <label data-browse="Search" style="width: 400px" class="custom-file-label" for="ImageUpload"></label>
                    <label style="display: none" id="img_name"></label>
                </div>

                <p class="hint">Upload a image with width 300px and height 428px</p>
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a class="btn btn-info" href="javascript:window.history.back();">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#ImageUpload').change(function(){
            $('#img_name').text(this.files[0].name);
            $('#img_name')[0].style.display = 'block';
        })

        $('#ImageUpload').attr("data-val", "true");
        $('#ImageUpload').attr("data-val-required", "Choose a image");
    </script>
}