@model IEnumerable<Book_Shop.Web.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Product List";
}

<h1>@ViewData["Title"]</h1>
<hr />

<vc:Summary></vc:Summary>
<a class="btn btn-info" asp-action="Create">New Product</a>

<partial name="_ProductList" />